@model IEnumerable<steadyforum.Server.Model.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Uname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passwordhash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chatlist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sessionid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionCreate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Uname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passwordhash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chatlist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sessionid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionCreate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
